.password-rules {
  font-size: 0.85rem;
  margin-top: 0.75rem;

  &__intro {
    color: #212529;
    font-size: 0.85rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    line-height: 1.6;

    svg {
      flex-shrink: 0;
    }

    &--neutral {
      color: #212529;
    }

    &--invalid {
      color: #dc3545;
    }

    &--valid {
      color: #198754;
    }
  }

  &__bullet {
    width: 0.4em !important;
    height: 0.4em !important;
  }
}
